[Unit]
Description=HTTP Reverse Cam Script

[Service]
Type=simple
User=pi
#Group=
ExecStart=/home/pi/oapi-scripts/httpreversecam.sh
Restart=on-failure

[Install]
WantedBy=default.target

